{% extends 'base.html' %}

{% block title %}
    Register - Spotify
{% endblock title %}

{% block content %}
    <h1>This is signup page!</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {% for form_field in form %}
            {% if form_field is form.user_gender  %}
                <div>
                    <legend>Укажите свой пол</legend>
                    {% for radio in form.user_gender %}
                    <label for="{{ radio.id_for_label }}">
                        <span class="radio">{{ radio.tag }}</span>
                        {{ radio.choice_label }}
                    </label>
                    {% endfor %}
                </div>
            {% elif form_field is form.is_newsletter %}
                <div>
                    <label for="{{ form.is_newsletter.id_for_label }}">
                        {{ form.is_newsletter }}
                        {{ form.is_newsletter.label }}
                    </label>
                </div>
            {% else %}
                <div>
                    {{ form_field.label_tag }}
                    <br>
                    {{ form_field }}
                    {{ form_field.errors }}
                </div>
            {% endif %}
            
        {% endfor %}
        <button>Register</button>
    </form>
{% endblock content %}